In [13]:
# Join DataFrames 
import pandas as pd
var1 = pd.DataFrame({"A":[1,2,3,4], "B":[11,12,13,14]}, index = ['a', 'b', 'c', 'd'])
var2 = pd.DataFrame({"C":[10,20,30,40], "D":[11,22,33,44]}, index = ['a', 'b', 'c', 'd'])
var1.join(var2)
var3 = pd.DataFrame({"C":[10,20], "D":[11,22]}, index=['a', 'b'])
var1.join(var3)  #NaN will be printed in placed of vacant data
var3.join(var1)  #It will erase the 'c' and 'd' index data of var1
# To prevent this 
var3.join(var1, how= 'right')  #NaN will be printed in placed of vacant data
# If two suffix is same
arr1 = pd.DataFrame({"A":[1,2,3,4], "B":[11,12,13,14]})
arr2 = pd.DataFrame({"C":[10,20,30,40], "B":[11,22,33,44]})
arr1.join(arr2, lsuffix= "_1", rsuffix='_2')

   A  B_1   C  B_2
0  1   11  10   11
1  2   12  20   22
2  3   13  30   33
3  4   14  40   44