In [6]:
# Arithmetic operations
import pandas as pd
var = pd.DataFrame({'a': [1,2,3,4], 'b': [5,6,7,8]})
print(var)
var['c']= var['a'] + var['b']
print(var)
var['c']= var['a'] - var['b']
print(var)
var['c']= var['a'] * var['b']
print(var)
var['c']= var['a'] / var['b']
print(var)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
   a  b   c
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12
   a  b  c
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4
   a  b   c
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32
   a  b         c
0  1  5  0.200000
1  2  6  0.333333
2  3  7  0.428571
3  4  8  0.500000

   a  b         c  Check
0  1  5  0.200000   True
1  2  6  0.333333   True
2  3  7  0.428571  False
3  4  8  0.500000  False

In [7]:
arr1 = pd.DataFrame({"a": [10,20,30,40], 'b':[15,16,17,18]})
# To check no. is lesser than 20 or not 
arr1 ['check'] = arr1['a'] <= 20
arr1

    a   b  check
0  10  15   True
1  20  16   True
2  30  17  False
3  40  18  False