In [9]:
# Handling misssing values 
# Replace -> replace(to_replaced = val1, value = val2)
import pandas as pd
import pandas as pd
var = pd.read_csv("./tut8a.csv")
var.replace(to_replace=4 , value=116651)  #It replace 1 with 116651
var.replace(to_replace=[64,65,66] , value=60)  #It replace 64,65,66 with 60
var.replace("[A-K]", "pyth", regex= True)  #It replace "A-K" with "pyth"
var.replace({"SYMBOL":"[A-E]"},33, regex= True)  #It replace the value of SYMBOL with 33 which contain any of the character A-E

,SYMBOL,SECURITY,TODAY-VOLUME,AVG. VOLUME,CHANGE
0,33,ELECTROTHERM LIMITED,473907,486468,64
1,NBIFIN,N.B.I. INDUSTRIAL FINANCE COMPANY,5754,46546546,65
2,HINDCON,HINDSON CHEMICALS LIMITED,32564894,6546546,66
3,33,GKW LIMITED,666543,444,3
4,33,21ST CENTURY MANAGEMRNT SERVICE,23154949,4,654
5,ALPHAGEO,ALPHAGEO LIMITED,987987987,464,5
6,33,UNIPHOS ENTERPRISES LIMITED,46479,4,52591
7,JAGSNPHARM,JAGSONPAL PHARMACEUTICALS LIMITED,4489498,64,48962
8,SKMEGGPROD,SKM ENGG PRODUCTRS EXPORT LIMITED,47979887,4,83
9,33,SWELECT ENERGY SYSTEMS LIMITED,94894987,654,83
10,NAHARPOLY,NAHERPOLY FILMS LIMITED,46464,4,8
11,PODDARHOUS,PODDAR HOUSINGU AND DEVELOPMENT,465,4,648
12,LINC,LINC LOMITED,46549877,46,651
13,SHIVAMILLS,SHIVA MILLS LIMITED,7444896,489,5